@import './colors.scss';

.containerhome {
    display: flex;
    position: relative;
}

#searchAndBurger {
    width: 306px;
    height: 47px;
    align-self: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: 30px;
}

span {
    width: 28px;
    height: 4px;
    margin: 4px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 3px;
}

#topNav {
    width: 60%;
    height: 100%;
    background-color: #f8f8f8;
    transform: translateX(-100%);
}

#textInside {
    padding: 30px 0px 0px 0px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

#imgExit {
    width: 18px;
    height: 18px;
}

#logOut {
    margin-top: 162px;
    margin-left: 20px;
    color: $red;
    font-size: 18px;
}