@import './colors.scss';

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0%;
  margin: 0%;
  height: 100vh;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pass {
  font-size: 18px;
}

#title {
  font-weight: 700;
  align-items: center;
  font-size: 24px;
  margin: 0 0 41px 0;
}

#iconmobile {
  width: 65%;
  margin-top: 15%;
}

#inputPassword {
  height: 54px;
  width: 287px;
  max-width: 90%;
  background: #F3F3F3;
  border-radius: 5px;
  padding: 0 0 0 21px;
  box-sizing: border-box;
  border: 2px solid #E1E1E1;
  margin-top: 81px;
  font-size: 18px;
  color: #303030;

  &::placeholder {
    color: #8A8A8A;
  }

  &:focus {
    outline: none;
    border: 2px solid #2768E2;
  }
}

#confirm{
  width: 135px;
  background-color: $blue;
  height: 45px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
}

#wrongPass{
  color: $red;
  width: 287px;
  display:none;
}