body{
  width:100%;
  padding: 0px;
  margin:0px;
  background-color: #e5e5e5;
  font-family: 'Arial','sans','fantasy';
  font-size:30px;
  display: flex;
  flex-direction: column;
}
#title{
  width: 100%;
  margin:120px 0px 0px 0px;
  text-align: center;
}